body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
}
  
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}



input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  
}

.container {
  width: 1200px;
  margin: auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  left: 600px;
  margin-left: -69px;
}

.main-navigation {
  font-weight: 700;
  padding: 0 72px;
  line-height: 26px
}

.site-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 15px 0;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(2) {
  padding-right: 96px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current a {
  color: #766357;
}

.intro {
  background: url("../img/background-photo.jpg") no-repeat 0 -57px;
  margin-bottom: 62px;
}

.weaves {
  height: 57px;
  width: 1200px;
  background: url("../img/weaves.png") no-repeat;
}

.sedona-title {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 80px;
}

.reasons {
  text-align: center;
}

.reasons h1 {
  margin: 0;
  margin-bottom: 32px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.reasons p{
  margin: 0;
}

.reasons h1 + p {
  margin-bottom: 53px;
}

.reason {
  line-height: 21px;
  width: 400px;
  min-height: 256px;
}

.reason b {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 28px;
  
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.reason p {
  margin: 0 45px;
  margin-bottom: 24px;
}

.reason-img {
  display: flex;
  color: #ffffff;
}

.reason-img img {
  display: block;
}

.reason-img b {
  color: #ffffff;
}

.reasons-list {
  display: flex;
  list-style: none;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

.reason-img .reason {
  background-color: #81b3d2;
}

.features {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
  line-height: 21px;
}

.feature-item {
  line-height: 21px;
  width: 400px;
  min-height: 330px;
}

.feature-item svg {
  display: block;
  margin: 60px auto 32px auto;
}

.feature-item b {
  display: block;
  margin: 0;
  margin-bottom: 28px;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.hotel {
  text-align: center;
}

.hotel b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  margin: 55px 0 30px 0;
}

.hotel p {
  margin: 0;
  margin-bottom: 50px;
  line-height: 24px;
}

.btn {
  font: inherit;

  text-align: center;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
  padding: 3px 17px;
}

.btn:hover,
.btn:focus {
  background-color: #669ec0;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search {
  display: block;
  padding: 32px 140px;
  margin: 0 auto;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search:hover,
.hotel-search:focus {
  background-color: #604e43;
}

.hotel-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.btn-search {
  display: block;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 196px;
}

.minus,
.plus {
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.minus:hover,
.plus:hover,
.minus:focus,
.plus:focus {
  color: #000000;
  background-color: #f2f2f2;
}

.minus:active,
.plus:active {
  color: #81b3d2;
  background-color: #f2f2f2;
}

.modal-search-form {
  font-weight: 700;
  width: 568px;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.search-item input {
  font: inherit;
  text-transform: uppercase
  
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-item input:focus {
  background-color: transparent;
  border: 2px solid #ebebeb;
  outline: none;
}

.map {
  display: block;
  position: relative;
}

.map img {
  display: block;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  min-height: 120px;
}

.index-footer {
  position: absolute;
  bottom: 0;
}

.footer-hashtag {
  width: 400px;
  text-align: center;
}

.footer-hashtag a{
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 400px;
  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.btn-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  
  background-color: #81b3d2;
}

.btn-social:hover,
.btn-social:focus {
  background-color: #669ec0;
}

.btn-social:active path {
  opacity: 0.3;
}

.footer-copyright {
  width: 400px;
  text-align: center;
}

.footer-copyright .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 197px;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright svg {
  display: block;
}


.filters {
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  padding: 0 72px;
  line-height: 21px;
  color: #ffffff;
}

.filter-columns {
  display: flex;
}

.filter-columns fieldset:nth-child(3) {
  margin-left: auto;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter fieldset {
  border: none;
}

.filter-input:disabled {
  color: #6a6a6a;
}


.btn-show {
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 5px 31px 5px 35px;
  
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
}

.btn-show:hover {
  background-color: #ffffff;
  
  color: #000000;
}

.search-sort {
  display: flex;
  padding: 0 72px;
}

.search-sort b {
  font-weight: 700;
  font-size: 21px;
  padding-right: 50px;
}

.sort-type ul {
  display: flex;
  width: 353px;
  justify-content: space-between;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.sort-arrows {
  margin-left: auto;
}

.sort-type a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
}

.sort-type a:active {
  border-bottom: none;
  color: #000000;
}

.search-result-item {
  padding: 0 72px;
}

.search-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-result-item {
  display: flex;
}

.hotel-pic {
  height: 90px;
}

.hotel-pic img {
  width: 135px;
  height: 90px;
}

.hotel-rating {
  margin-left: auto;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-title a {
  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info {
  line-height: 21px;
  color: #333333;
}

.rating-value {
  padding: 3px 13px 3px 16px;
  background-color: #f2f2f2;
  
  line-height: 21px;
  color: #666666;
}

.btn-order {
  background-color: #766357;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #604e43;
}

.btn-order:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.btn-academy {
  background: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}