body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.container {
  width: 1200px;
  margin: auto;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  left: 600px;
  margin-left: -69px;
  z-index: 2;
}

.main-navigation {
  font-weight: 700;
  padding: 0 72px;
  line-height: 26px
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 15px 0;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(2) {
  padding-right: 96px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current a {
  color: #766357;
}

.intro {
  position: relative;
  background: url("../img/background-photo.jpg") no-repeat 0 -57px;
  margin-bottom: 62px;
  background-color: #a6c9df;
}

.weaves {
  position: absolute;
  bottom: 0;
  height: 57px;
  width: 1200px;
  background: url("../img/weaves.png") no-repeat;
}

.sedona-title {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 80px;
}

.reasons {
  text-align: center;
}

.reasons h1 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0 350px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.reasons p {
  margin: 0;
  padding: 0 47px;
}

.reasons h1+p {
  margin-bottom: 50px;
}

.reason {
  line-height: 21px;
  width: 400px;
  min-height: 256px;
}

.reason b {
  display: block;
  margin: 0;
  padding: 0 125px;
  margin-top: 48px;
  margin-bottom: 22px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.reason p {
  margin-bottom: 22px;
}

.reason-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-img img {
  display: block;
}

.reason-img b {
  color: #ffffff;
}

.reasons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

.reasons-list p {
  padding: 0 68px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 79px;
  line-height: 21px;
  width: 400px;
}

.feature-item svg {
  display: block;
}

.feature-item b {
  display: block;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 24px;
  padding: 0 125px;
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.hotel {
  text-align: center;
}

.hotel b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  margin: 52px 0 23px 0;
  padding: 0 40px;
}

.hotel p {
  margin: 0;
  margin-bottom: 46px;
  line-height: 24px;
  padding: 0 40px;
}

.btn {
  font: inherit;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  padding: 3px 10px;
}

.btn:hover,
.btn:focus {
  background-color: #669ec0;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-wrapper {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 568px;
}

.hotel-search {
  display: block;
  position: relative;
  z-index: 2;
  padding: 30px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search:hover,
.hotel-search:focus {
  background-color: #604e43;
}

.hotel-search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.btn-search {
  display: block;
  width: 458px;
  margin: 0 auto;
  margin-top: 54px;
  padding: 16px 32px;
  font-size: 21px;
  line-height: 26px;
}

.minus,
.plus {
  position: absolute;
  padding-top: 8px;
  width: 38px;
  font-size: 24px;
  color: #a9a9a9;
  background-color: transparent;
}

.minus {
  top: 0;
  left: 0;
}

.plus {
  top: 0;
  right: 0;
}

.minus:hover,
.plus:hover,
.minus:focus,
.plus:focus {
  color: #000000;
  background-color: transparent;
}

.minus:active,
.plus:active {
  color: #81b3d2;
  background-color: transparent;
}

.modal-search-form {
  position: absolute;
  z-index: 1;
  width: 100%;
  z-index: 1;
  width: 458px;
  padding: 55px 55px;
  background-color: #ffffff;
  font-weight: 700;
  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.search-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 29px;
}

.calendar {
  position: relative;
}

.calendar svg {
  display: block;
  position: absolute;
  top: 8px;
  right: 9px;
}

.calendar-svg:hover path,
.calendar-svg:focus path {
  fill: #000000;
}

.calendar-svg:active path {
  fill: #81b3d2;
}

.form-label {
  display: block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.form-input {
  display: block;
  width: 300px;
  margin: 0;
  padding: 4px 30px 4px 13px;
  height: 26px;
}

.counter-adult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 225px;
}

.counter-kids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 179px;
}

.counter-adult .wrapper {
  position: relative;
  width: 114px;
}

.counter-kids .wrapper {
  position: relative;
  width: 114px;
}

.counter-input {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 4px 36px;
  text-align: center;
}

.search-item input {
  font: inherit;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-item input:focus {
  background-color: transparent;
  border: 2px solid #ebebeb;
  outline: none;
}

.map {
  display: block;
  position: relative;
  line-height: 0;
  background-color: #cbdda9;
}

.map img {
  display: block;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 36px 0;
}

.index-footer {
  position: absolute;
  bottom: 0;
}

.footer-hashtag {
  width: 400px;
  text-align: center;
}

.footer-hashtag a {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  width: 400px;
  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.btn-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.btn-social:hover,
.btn-social:focus {
  background-color: #669ec0;
}

.btn-social:active path {
  opacity: 0.3;
}

.footer-copyright {
  width: 400px;
  text-align: center;
}

.footer-copyright .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 197px;
}

.footer-copyright p {
  margin: 0;
}

.footer-copyright svg {
  display: block;
}

.footer-copyright-svg:hover path,
.footer-copyright-svg:focus path {
  fill: #81b3d2;
}

.footer-copyright-svg:active path {
  fill: #bdbbbc;
}

.filters {
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  background-color: #2b3e48;
  padding: 0 72px;
  line-height: 21px;
  color: #ffffff;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-bottom: 4px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset:first-child {
  margin-right: 118px;
}

.filter fieldset:nth-child(3) {
  margin-left: auto;
}

.filters legend {
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 26px;
}

.filter-input {
  visibility: hidden;
}

.filter-label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.filter-input+.filter-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 26px;
  height: 26px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input:checked+.filter-label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-input:disabled+.filter-label::before {
  opacity: 0.3;
}

.filter-input:focus+.filter-label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
  padding-right: 2px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 54px;
  padding-right: 13px;
}

.price-controls input {
  width: 50px;
  height: 30px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.btn-show {
  display: block;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 137px;
  padding: 6px 10px;
  margin: 0 auto;
  margin-right: 96px;
  color: #ffffff;
  line-height: 21px;
  font-weight: normal;
  cursor: pointer;
}

.btn-show:hover,
.btn-show:focus {
  background-color: #ffffff;
  color: #000000;
}

.btn-show:active {
  background-color: #ffffff;
  color: #000000;
}

.search-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 72px;
  padding-top: 32px;
  border-bottom: 1px solid #e5e5e5;
}

.search-sort b {
  font-weight: 700;
  font-size: 21px;
  padding-right: 47px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sort span {
  display: block;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 238px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 34px;
  margin-left: auto;
}

.sort-arrows svg {
  display: block;
}

.sort-arrow-svg:hover path,
.sort-arrow-svg:focus path {
  fill: #231f20;
}

.sort-arrow-svg:active path {
  fill: #81b3d2;
}

.active-arrow path {
  fill: #81b3d2;
}

.sort-type a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
}

.sort-type a:active {
  border-bottom: none;
  color: #000000;
}

.sort-type .active {
  color: #81b3d2;
  border: none;
}

.search-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.search-result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-pic {
  display: block;
  margin-right: 30px;
  width: 135px;
}

.hotel-pic img {
  display: block;
  width: 135px;
  height: 90px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 750px;
  line-height: 21px;
  color: #333333;
}

.hotel-info p {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-info .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 6px;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: auto;
}

.rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-stars span {
  display: block;
  width: 18px;
  height: 17px;
  margin-right: 5px;
  background: url("../img/star.svg") repeat-x;
}

.rating-stars span:last-child {
  margin-right: 0;
}

.hotel-title {
  margin: 0;
  margin-top: -4px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.hotel-title a {
  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.rating-value {
  width: 90px;
  padding: 3px 10px;
  text-align: center;
  background-color: #f2f2f2;
  line-height: 21px;
  color: #666666;
}

.btn-more {
  width: 90px;
}

.btn-order {
  width: 122px;
  background-color: #766357;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #604e43;
}

.btn-order:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.btn-academy {
  background: none;
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: translateY(-86px);
    transform: translateY(-86px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    -webkit-transform: translateY(-86px);
    transform: translateY(-86px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.roll {
  -webkit-animation-name: roll;
  animation-name: roll;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-hide {
  display: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
