body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background-color: #ffffff;
}

.reasons h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.reasons-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.intro {
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
}

.filters {
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
}